<div class="skills-section">
    <h2>{{ .title }}</h2>
    <table>
        {{ range .skills }}
        <tr>
            <td>{{ .skill }}</td>
        </tr>
        <tr>
            <td>
                {{ $filledWidth := math.Mul (math.Div .level 5.0) 100 }}
                {{ $emptyWidth := math.Mul (math.Div (sub 5 .level) 5.0) 100 }}
                <svg width="9em" height="0.5em">
                    <rect class="prog-bar-fill" x="0" y="0" width="{{ $filledWidth }}%" height="100%" />
                    <rect class="prog-bar-empty" x="{{ $filledWidth }}%" y="0" width="{{ $emptyWidth }}%" height="100%" />
                </svg>
            </td>
        </tr>
        {{ end }}
    </table>
</div>
